.blue_background{
  background-color: blue;
}

.main_background{
  background-image: url('https://res.cloudinary.com/daaxwngzv/image/upload/v1772021515/mainmassageimage_eidzaf.jpg');
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.theraputicbackgroundcolor{
  background-color: #1F3A3D;
}

.deeptissuebackgroundcolor{
  background-color: #0F1A2B;
}
.sportsremedialbackgroundcolor{
  background-color: #F5F5F5;
}
.cuppingbackgroundcolor{
  background-color: #BF8D2C;
}

.backgroundcolor{
  background-color: #F5F5F3;
}
