<nav class="navbar navbar-light bg-light pr-1 pl-1">
  <a class="navbar-brand h5" href="#">The London Massage</a>

  <!-- This will sit on the right when there is a brand before it -->
  <button class="navbar-toggler" type="button"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light pl-1">
      <h4 class="text-dark">Home</h4>
      <h4 class="text-dark">About</h4>
      <h4 class="text-dark">Testimonials</h4>
      <h4 class="text-dark">Treatment</h4>
      <h4 class="text-dark">Contact</h4>
    </div>
  </div>
