<nav class="navbar navbar-light bg-light pr-1 pl-1">
  <%= link_to "The London Massage", root_path, class: "navbar-brand h5" %>

  <button class="navbar-toggler" type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-light pl-1">
    <%= link_to "Home", root_path, class: "navlink" %>
    <h4 class="text-dark">About</h4>
    <h4 class="text-dark">Testimonials</h4>
    <h4 class="text-dark">Treatment</h4>
    <h4 class="text-dark">Contact</h4>
     <li><%= link_to "FAQ", faq_path, class: "navlink" %></li>
  </div>
</div>
